@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(bgImg.png);
  background-position: center;
  background-repeat: no-repeat;
  color:rgb(157, 88, 3) ;
  background-size: cover;
}

h2{
  color:rgb(58, 39, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-style:italic;
  
}


/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('seeds2.jpg');
  
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  color: rgb(210, 146, 7);
}

h2 {
  color: rgb(58, 39, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-style: italic;
} */
